<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./vue.js"></script>
  <title>Vue.js</title>
</head>

<body>
  <div id="app">
    <input v-model.lazy="nome" placeholder="nome">
    <textarea v-model.lazy="mensagem"></textarea>
    <input type="checkbox" v-model="receberEmail">
    <input type="checkbox" v-model="termos">
    <p>{{nome}}</p>
    <p>{{mensagem}}</p>
    <p>receber email {{receberEmail}}</p>
    <p>Termos {{termos}}</p>

    <p>{{mensagem}}</p>
    <div>
      <input type="radio" name="cor" v-model="cor" value="azul">
      <input type="radio" name="cor" v-model="cor" value="vermelho">
      <input type="radio" name="cor" v-model="cor" value="Roxo">
      <p>{{cor}}</p>

    </div>
    <select v-model="paises">
      <option disabled value="">Selecione um país</option>
      <option value="Argentina">Argentina</option>
      <option value="Italia">Italia</option>
      <option value="França">França</option>
      <option value="Grécia">Grécia</option>
      <option value="Brasil">Brasil</option>
    </select>
    <p>{{paises}}</p>

    <input type=number v-model.number="num">
    <input type=number v-model.number="num1">
    <p>{{num + num1}}</p>

    <input v-model.trim="semEspaco" placeholder="Sem espaços"></input>

    <p>{{semEspaco}}</p>

  </div>

  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        nome: "",
        mensagem: "",
        receberEmail: false,
        termos: false,
        cor: "",
        paises: "",
        num: 0,
        num1: 0,
        semEspaco: ""

      },
    })
  </script>


</body>

</html>