<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./vue.js"></script>
  <title>Vue.js</title>
</head>

<body>
  <div id="app">
    <input type="color" v-model="btn.background" placeholder="background">
    <label for="width">Width</label>
    <input type="text" id="width" v-model="btn.width" placeholder="width">
    <label for="height">Height</label>
    <input type="text" id="height" v-model="btn.height" placeholder="height">
    <label for="font-size">Font Size</label>
    <input type="text" id="font-size" v-model="btn.fontSize" placeholder="font-size">
    <label for="font-family">Font Family</label>
    <input type="text" id="font-family" v-model="btn.fontFamily" placeholder="font-family">
    <label for="text-align">Alinha Texto</label>
    <input type="text" id="text-align" v-model="btn.textAlign" placeholder="text-align">
    <label for="color">Color</label>
    <input type="color" v-model="btn.color" placeholder="color">
    <label for="border-radius">Bordas Arredondadas</label>
    <input type="text" id="border-radius" v-model="btn.borderRadius" placeholder="border-radius">

    <a :style="btn" href="">Botão Autônomo</a>
    <p> {{btn.background}}</p>
    <p> {{btn.width}}</p>
    <p> {{btn.height}}</p>
    <p> {{btn.fontSize}}</p>
    <p> {{btn.fontFamily}}</p>
    <p> {{btn.textAlign}}</p>
    <p> {{btn.color}}</p>
    <p> {{btn.borderRadius}}
  </div>

  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        btn: {
          background: "",
          height: "20px",
          width: "20px",
          fontSize: "30px",
          fontFamily: "arial",
          textAlign: "left",
          color: "black",
          borderRadius: "50px"
        }
      }

    })
  </script>
  <style>
    label {
      margin-top: 50px;
      display: block;
    }

    a {
      margin-top: 50px;
      margin-bottom: 140px;
      display: block;
    }
  </style>


</body>

</html>